<div id="group-extension-content">
  <div>
    <button type="submit" id="group-extension-delete">
      Delete all
    </button>

    <div id="group-extension-response">
      <pre id="group-extension-response-data"></pre>
    </div>

    <ul id="group-extension-groups"></ul>

    <button
      id="add-group-button"
      class="icon-button"
      data-l10n-id="add-things"
      aria-label="Add New Things"
    ></button>
  </div>
  <div id="add-group-screen" class="dialog hidden">
    <button
      id="add-group-back-button"
      class="back-button icon-button"
      data-l10n-id="back-button"
      aria-label="Back"
    ></button>
    <div id="group-extension-request">
      <h2>Create group</h2>
      <form id="group-extension-form-content">
        <label for="key">Key: </label>
        <input
          type="text"
          name="key"
          id="group-extension-form-key"
          required
          autocomplete="off"
        />
        <ul id="group-extension-form-content-devices"></ul>
        <button type="submit" id="group-extension-form-submit">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
